<div class="map-container">
      <br><br>
      <div class="filter">

            <div class="row" style="color: white;">
              <div class="form" style="width:20% ;">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Ime..." (keydown.enter)="filterUsers()" [(ngModel)]="filterObj.ime">
                <!-- <span class="left-pan"><i class="fa fa-microphone"></i></span> -->
              </div>
              <div class="form" style="width:20% ;">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Grad..." (keydown.enter)="filterUsers()" [(ngModel)]="filterObj.grad">
                <!-- <span class="left-pan"><i class="fa fa-microphone"></i></span> -->
              </div>
              <div class="form" style="width:20% ;">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Naselje..." (keydown.enter)="filterUsers()" [(ngModel)]="filterObj.naselje">
                <!-- <span class="left-pan"><i class="fa fa-microphone"></i></span> -->
              </div>
              <div class="form" style="width:20% ;">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Ulica..." (keydown.enter)="filterUsers()" [(ngModel)]="filterObj.ulica">
                <!-- <span class="left-pan"><i class="fa fa-microphone"></i></span> -->
              </div>
              <!-- <div class="form" style="width:20% ;" id="z">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Rola..." [(ngModel)]="filterObj.rola">
                
              </div> -->
        
              <div class="form" style="width:20% ;">
                <select class="form-control" [(ngModel)]="filterObj.rolaUzimam" (keydown.enter)="filterUsers()" name="rolaId">
                  <option value="0" selected>--- Izaberi rolu --- </option>
                  <option value="3"> Prozumer </option>
                  <option value="4"> Potrošač </option>
                  <option value="5"> Proizvođač </option>
                </select>
              </div>
        
            </div>
        
            <div class="row" style="color: white;">
        
              <div class="prvi" style="width: 50%;">
                <p>Potrošnja [kWh] :</p>
        
                <div class="form">
                  <input type="text" class="form-control form-input-sm" placeholder="Od" (keydown.enter)="filterUsers()" [(ngModel)]="filterObj.potrosnjaOd"> 
                </div>
        
                <!-- <p style="float: left; margin-top: 12px; margin-left: 3px;">kWh</p> -->
                <!-- <p style="float: left; margin-left: 15px; margin-right: 25px;"> &#9135; </p> -->
        
                <div class="form d" style="margin-left: 3%;"> <!-- margin-left: 17px; -->
                  <input type="text" class="form-control form-input-sm" placeholder="Do" (keydown.enter)="filterUsers()" [(ngModel)]="filterObj.potrosnjaDo">
                </div>
                <!-- <p style="float: left; margin-top: 12px; margin-left: 3px;">kWh</p> -->
        
              </div>
        
        
        
              <div class="drugi" style="width: 50%;">
                <!-- <div class="row" style="color: white;"> -->
                <p>Proizvodnja [kWh] :</p>
        
                <div class="form" >
                  <!-- <i class="fa fa-search"></i> -->
                  <input type="text" class="form-control form-input-sm" placeholder="Od" (keydown.enter)="filterUsers()" [(ngModel)]="filterObj.proizvodnjaOd">
                </div>
        
                <!-- <p style="float: left; margin-top: 12px; margin-left: 3px;">kWh</p> -->
                <!-- <p style="float: left; margin-left: 15px; margin-right: 25px;"> &#9135; </p> -->
        
                <div class="form d" style="margin-left: 3%;">
                  <input type="text" class="form-control form-input-sm" placeholder="Do" (keydown.enter)="filterUsers()" [(ngModel)]="filterObj.proizvodnjaDo">
                </div>
                <!-- <p style="float: left; margin-top: 12px; margin-left: 3px;">kWh</p> -->
        
              </div>
              
        
                <!-- <mat-slider min="0" [max]="max1" discrete="true" step="1" showTickMarks="true">
                  <input matSliderStartThumb [(ngModel)]="filterObj.potrosnjaOd">
                  <input matSliderEndThumb [(ngModel)]="filterObj.potrosnjaDo">
                </mat-slider>
                <br>
                <div style="text-align: center;">
                  <label class="text-center">{{filterObj.potrosnjaOd}} kW - {{filterObj.potrosnjaDo}} kW </label>
                </div> 
              </div>
             <p> Proizvodnja :</p>
              
        
              <div class="col" style="width: 15% !important;">
                <div class="prvi">
                <input style="width:15% ;" type="text" class="form-control form-input" placeholder="Od.." [(ngModel)]="filterObj.proizvodnjaOd">
              </div>
              <div class="drugi">
                <input style="width:15% ;" type="text" class="form-control form-input" placeholder="Do.." [(ngModel)]="filterObj.proizvodnjaDo">
              </div>
        
                 <mat-slider min="0" [max]="max2" discrete="true" step="1" showTickMarks="true">
                  <input matSliderStartThumb [(ngModel)]="filterObj.proizvodnjaOd">
                  <input matSliderEndThumb [(ngModel)]="filterObj.proizvodnjaDo">
                </mat-slider>
                <br>
                <div style="text-align: center;">
                  <label>{{filterObj.proizvodnjaOd}} kW - {{filterObj.proizvodnjaDo}} kW </label>
                </div> 
              </div> -->
        
            </div> 
        
            <div class="dugmad" style="color: white;">
              <button style="min-width: 7%; padding: 8px" (click)="filterUsers()">Primeni</button>
              <button style="min-width: 7%; margin-right: 5px; padding: 8px;background-color: #B04759; border-color: #B04759;"
                (click)="obrisiFilter()">Poništi</button>
            </div>
        
          </div>
      
      <div id="legend">
            <ul>
                  <li><img src="../../../assets/img/green.png"> - Prozumeri</li>
                  <li><img src="../../../assets/img/red.png">- Potrošači</li>
                  <li><img src="../../../assets/img/yellow.png"> - Proizvođači</li>
            </ul>
      </div>
      <div id="map"></div>
</div>
