.column {
    float: left;
    width: 50%;
  }
  
.row{
    padding-top: 20px;
}
.row:after {
    display: table;
    clear: both;
  }
  
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }