.fa-solid.fa-arrow-down.green{
  background-color: rgb(5, 121, 5);
  color: rgb(221, 235, 221);
  border-radius: 50%;
  width: 17px;
  height: 17px;
}
.fa-solid.fa-arrow-up.green{
  margin-right: 1px;
  background-color: rgb(5, 121, 5);
  color: rgb(221, 235, 221);
  border-radius: 50%;
  width: 17px;
  height: 17px;
}


.fa-solid.fa-arrow-down.red{
  background-color: rgb(182, 3, 33);
  color: rgb(241, 237, 237);
  border-radius: 50%;
  width: 17px;
  height: 17px;
}
.fa-solid.fa-arrow-up.red{
  margin-right: 1px;
  margin-top: 1px;
  background-color: rgb(182, 3, 33);
  color: rgb(241, 237, 237);
  border-radius: 50%;
  width: 17px;
  height: 17px;
}
.fa-solid.fa-arrow-up.yellow{
  margin-right: 1px;
  margin-top: 1px;
  background-color: rgb(194, 181, 3);
  color: rgb(241, 237, 237);
  border-radius: 50%;
  width: 17px;
  height: 17px;
}
