.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: antiquewhite;
}
.ne{
    background-color: red;
}
.da{
    background-color: #159895;
    margin-right: 15px;
}