// *{
//   color:rgb(255, 255, 255);
// }

hr{
  color: grey;
}

.body{
  min-height: 100vh;
  overflow-x: hidden;
}

.tabs{
  ariaLabel{
    color: white;
  }
}

.my-custom-class {
  color: white;
}

.col3{
  cursor: pointer;
}

.button6{
  float: right;
  margin-top: 5px;
}

.card{
  background-color: rgb(53, 9, 9);
}

.uredjaji{
  height: 40px;
  width: 40px;
}

.text{
  font-weight: 400;
}

.text.central{
  margin-top: 7px;
}


.info{
  font-size: 1.2rem;
  float: right;
}

.switchuredjaja{
  width: 100%;
}

.select2 {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  margin-left: -25px;
  margin-top: 5px;
  line-height: 3;
  background: #1f262e;
  overflow: hidden;
  border-radius: .25em;
  border: 2px solid #424752;
  color: #999a9e;

}
.select2::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #1f262e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select2:hover::after {
  color: #dbdcdd;
}
.select2:hover {
  border: 2px solid #a5cbe0;
}
.select2:focus {
  border: 2px solid #a5cbe0;
}

option {
  background: #1f262e;
}
option:hover {
  cursor: pointer;
}

#format2 {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #1f262e;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#d9dfe8;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
#format2::-ms-expand {
  display: none;
}

@media screen and (max-width: 767px){

  .text.title3{
    font-size: 22px;
    text-align: center;
    margin-top: 7vh;
  }

  #format2 {
    font-size: 0.9em;
  }

  .select2{
    margin-left: 25%;
    margin-top: 8px;
    margin-bottom: 6px;
    width: 13em;
  }

  .text.title2{
    font-size: 20px;
    text-align: center;
  }

  .button6{
    margin-right: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .button6{
    position: static;
    top: 10px;
  }


  .cardowner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: auto;
  }

  .col2{
    padding: 0;
    width: 50%;
  }

  .col-sm{
    text-align: center;
    margin-top: 1vh;
  }

  .dropdown{
    width: 50px !important;
    height: 50px !important;
    float: none;
  }

  .card-header.changed{
    font-size: 3vw;
  }

  .card-title2{
    font-size: 17px;
  }

  // .card-footer{
  //   font-size: 1vw;
  // }

  app-arrow{
    display: none;
  }

  .text.subtitle3{
    width: 100%;
    font-size: 22px;
    text-align: center;
    margin-top: 7px;
  }

  .card-body{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .uredjaji{
    max-width: 30px;
    max-height: 30px;
    float: none;
    margin-left: 5px;
  }

  .htmlData{
    width: 90%;
    margin: 10px auto;
  }
  .exportbuttons{
    margin-top: 30px;
    padding-left: 0;
    font-size: 20px;
    text-align: right;
    max-width: 30%;
  }

  #MyChart2{
    width: 300px;
    height:300px;
  }

  .labels{
    margin-top: 40px;
    text-align: right;
    margin-left: 5px;
    padding-right: 0;
    padding-left: 0;
  }

  #radioButton1{
    float: right;
    font-size: 12px;
  }

  #radioButton2{
    float: right;
    font-size: 12px;
  }

}
