*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #20262e;
  
  }
  .row{
    min-height: 80vh;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #20262e;
    border: 1px solid #588157;
    border-radius: 15px;
  }
  .wrapper {
    position: relative;
  }
  .row h3{
    color: white;
    font-size: 2em;
    text-align: center;
  }
  .labels{
    color: #ddd;
  }
  
  .row form .wrapper{
    margin-top: 15px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
  }
  .btn {
    background:  #588157;
    margin-top: 20px;
    border-radius: 15px;
    border-color:   #588157;
    float: left;
    min-width: 10%;
    // margin-right: 105px;
    height: 50px;
  }
  
  form .wrapper .box{
    // width: calc(100% / 2 - 60px);
    // width: 90%;
    margin-bottom: 15px;
  }
  
  
  .wrapper .box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    background-color: transparent;
    color: #ddd;
    opacity: 0.95;
  }
  .wrapper .box select{
    height: 45px;
    width: 40%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    // padding-left: 15px;
    text-align: center;
    font-size: 16px;
    border-bottom-width: 2px;
    background-color: #252422;
    color: #ddd;
  }
  
  .wrapper .ulica{
    width: calc(100% / 2 - 60px);
    margin-bottom: 15px;
    
  }
  .wrapper .ulica input{
    height: 45px;
    width: 25%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    background-color: transparent;
    color: #ddd;
    opacity: 0.95;
  }
  h4{
    color: white;
  }
  // .zaPrijavu{
  //   position: relative;
  //   margin-left: 640px;
  // }
  // .oKorisniku{
  //   position: absolute;
  // }
  #broj{
    margin-left: 20px;
  }
  .adr{
    position: relative;
    margin-right: 500px;
    margin-top: 40px;
    padding-bottom: 15px;
  }
  .btn{
    float: right;
  }
  .btn:hover {
    color: #20262e;
  }
  .fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
    font-weight: 600;
  }
  #oko{
    color: white;
    position: absolute;
    // margin-left: 480px;
    margin-top: -35px;
    right: 10px;
  }

  .levi {
    float: left;
    width: 46%;
    // margin-top: -40px;
    margin-bottom: 20px;
  }
  
  .desni {
    float: right;
    width: 46%;
    // margin-top: -40px;
  }
  
  .oKorisniku {
    margin-bottom: 20px;
  }
  .zaPrijavu {
    margin-bottom: 20px;
  }
  
  .dole {
    clear: both;
  }